<header>
<div class="container">

<div class="navigation">
<a id="menu" href="javascript:void(0);" onclick="menu()">
<p>=</p>
</a>

<nav id="topnav" class="nav-menu">
		<a href="about">Portfolio</a>
		<a href="https://github.com/axhakani/resume">Resume</a>
		
</nav>
 </div>

 <div class="logo"></div> 
	
<div class="info">
	<div class="row">
	<div class="col-md-8 text">
	<p>Hey, I'm Anja and I'm a UX researcher who specializes in accessibility, 
		usability testing, and secure tool design.</p>
		<p>I focus on identifying barriers to usability and providing insights to improve design for diverse audiences.
		I am a Computer Science graduate and a part-time weeb.</p>
		
		</p>Feel free to contact me at: xhakani.a@gmail.com</p>
		
<div class="social">
		<a href="https://www.linkedin.com/in/anja-xhakani-0a78b718a/" target="_blank" rel="noopener">LinkedIn</a> 
		<a href="https://github.com/axhakani" target="_blank" rel="noopener">GitHub</a>
</div>
	</div>
	<div class="col-md-4">
			<img src="/assets/img/pix.png" alt="pixaltedimage">
	</div>
	</div>	
		<div class="moon">
		 <a id="switch" onclick="dark();" href="#">Switch to <img class="switch" src="/assets/img/moon.svg"></a>
	</div>
</div>
</div>
<script>
if (localStorage.getItem('dark')) {
  document.body.classList.add('dark');
  document.getElementById("switch").innerHTML = 'Switch to <img class="switch" src="/assets/img/sun.svg">';
}

function dark(){
if (document.body.classList.contains('dark')) {
  document.body.classList.remove('dark');
  localStorage.removeItem('dark');
  document.getElementById("switch").innerHTML = 'Switch to <img class="switch" src="/assets/img/moon.svg">';
}
 else {
  document.body.classList.add('dark');
  localStorage.setItem('dark', true);
  document.getElementById("switch").innerHTML = 'Switch to <img class="switch" src="/assets/img/sun.svg">';
}
}
</script>

<script>
function menu() {
  var x = document.getElementById("topnav");
  if (x.className === "nav-menu") {
    x.className += " responsive none";
    document.getElementById("navigation").style.height = "300px";
  } else {
    x.className = "nav-menu";
    document.getElementById("navigation").style.height = "100px";
  }
}
</script>
</header>
